body {
background: #34495e;
color: #ecf0f1;
margin: 0;
padding: 0;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.left{
  position: fixed;
  top: 50% ;
  left: 25% ;
   transform: translate(-50%, -50%);
 }

 .right{
  position: fixed;
  top: 50%;
  left:95%;
  transform: translateY(-50%);
  }


 .welcomeMessageBorder{
 border: solid yellow 1px;
 border-radius:50%;
 background-color: #eaeff2;
 color:#34495e;
 padding: 187px 36px 90px 36px;
 text-align: center;
 width: 300px;
 margin-top:0;
 }


/*.moveLeft{
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}
@keyframes moveInLeft {
0%{ opacity:0;  transform:translateY(-100px);}
80%{ transform:translateY(10px);}
100%{ opacity:1;  transform:translate(20px); }
}

.moveRight{
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes moveInRight {
0%{opacity:0; transform:translateX(-100px);}
80%{ transform:translateX(10px); }
100%{ opacity:1; transform:translate(0); }
}
*/

.div2 {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  color:#ecf0f1;
}

.typeWriterEffect {
  animation: animated-text 2s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 320px;}
}

@keyframes animated-cursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.computer_img {
  height: 1200px;
  width: 1200px;
  margin-left:2%;
}


.page_wrap{
       position: relative;
       display: inline-block; /* Make the width of box same as image */
   }
   .page_wrap .div2 {
          position: absolute;
          z-index: 999;
          margin: 0 auto;
          left: 0;
          right: 0;
          top: 40%; /* Adjust this value to move the positioned div up and down */
          text-align: center;
          width: 100%; /* Set the width of the positioned div */
      }
  .page_wrap .div1 {
      position: absolute;
      z-index: 999;
      top:35%;
      text-align:center;
      left: 2 ;
      right: 0;
      width:100%;
      margin:0 auto;
    }


    #nav .option {
      font-size: 20px;
      position: fixed;
      height: 250px;
      width: 250px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      text-align: center;
      transition: 100ms;
      border-radius: 75px;
      --nav-option-scaler: 1;
      --nav-option-tx: 0;
      --nav-option-ty: 0;
      transform: translate(var(--nav-option-tx), var(--nav-option-ty))
        scale(var(--nav-option-scaler));
      cursor: pointer;
    }

    .nav_option p{
      opacity: 0;
    }


    #nav .option .nav_icon_boundary {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }


    .nav_link{
     position: relative;
     top: 14%;
   }

    .option{
      border-radius: 50%;
      z-index:-1;
    }

    #aboutNav {
      --nav-option-tx: -36px !important;
      --nav-option-ty: -292px !important;
    }

    #contactNav {
      --nav-option-tx: 115px !important;
      --nav-option-ty: -172px !important;
    }
    #resumeNav {
      --nav-option-tx: 115px !important ;
      --nav-option-ty: 29px !important;
    }
    #skillNav {
      --nav-option-tx: -36px !important ;
      --nav-option-ty: 141px !important;
    }


    .nav_icon_boundary_view{
        border-radius: 50%;
        background: url("assets/icon_dash_outiline.svg") no-repeat;
        transform-origin: 50% 29%;
        animation: rotation 30s infinite linear;

     }
     .nav_icon_boundary_view:hover {
       -webkit-animation-play-state: paused;
       background: url("assets/icon_outline.svg") no-repeat;
       transform : scale(2.0) !important;
      }

        @keyframes rotation {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(359deg);
          }
        }
